
</div>
</div>
<div class="alert-popup-wrapper log_out_popup">
    <div class="alertExtraWrapper">
        <div class="alert_block">
            <div class="icon"></div>
            <div class="title">Are you sure you want to log out?</div>
            <div class="btns">
                <button class="btn_button border cancel">No, stay</button>
                <button type="submit" class="btn_button">Yes, log out</button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.formstyler.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>