include _header.jade
include _left_panel.jade
<div class="dashboard_right_content">
    <div class="dashboard_content_title">
        <div class="name_title">Dishes</div>
        <div class="search_block">
            <form action="">
                <button type="submit"></button>
                <input type="text" placeholder="Search">
            </form>
        </div>
        <a href="dish-items.html" class="btn_button icon_plus create_dish">Create new dish</a>
    </div>
    <div class="dashboard_table">
        <table>
            <thead>
                <tr>
                    <th>Dish ID</th>
                    <th>Title</th>
                    <th># Ingredients</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#52624</td>
                    <td>Бефстроганов</td>
                    <td>7</td>
                    <td>03/21/2024 18:50</td>
                </tr>
                <tr>
                    <td>#52624</td>
                    <td>Бефстроганов</td>
                    <td>7</td>
                    <td>03/21/2024 18:50</td>
                </tr>
                <tr>
                    <td>#52624</td>
                    <td>Бефстроганов</td>
                    <td>7</td>
                    <td>03/21/2024 18:50</td>
                </tr>
                <tr>
                    <td>#52624</td>
                    <td>Бефстроганов</td>
                    <td>7</td>
                    <td>03/21/2024 18:50</td>
                </tr>
                <tr>
                    <td>#52624</td>
                    <td>Бефстроганов</td>
                    <td>7</td>
                    <td>03/21/2024 18:50</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
include _footer.jade