include _header.jade
include _left_panel.jade
<div class="dashboard_right_content">
    <div class="dashboard_content_title">
        <div class="name_title">Events</div>
        <div class="search_block">
            <form action="">
                <button type="submit"></button>
                <input type="text" placeholder="Search">
            </form>
        </div>
        <div class="btn_button icon_plus create_event">Create new event</div>
    </div>
    <div class="dashboard_table">
        <table>
            <thead>
                <tr>
                    <th>Client name</th>
                    <th>Phone number</th>
                    <th>Guests</th>
                    <th>Menu</th>
                    <th>Event date</th>
                    <th>Status</th>
                    <th>Created at</th>
                    <th width="1">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="first-name">Leo McKenzie</td>
                    <td class="phone-number">+(998) 90 819-12-90</td>
                    <td class="number-guests">300</td>
                    <td class="select-menu">Gold (Customized)</td>
                    <td class="event-date">04/13/2024</td>
                    <td><div class="status_review">Review</div></td>
                    <td>03/21/2024 18:50</td>
                    <td>
                        <div class="dropdown_select">
                            <div class="dropdown_select_name action_btn"></div>
                            <div class="dropdown_body">
                                <div>
                                    <a href="edit-event.html" class="item edit_btn_event">Edit</a>
                                </div>
                                <div>
                                    <div class="item delete_btn">Delete</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="first-name">Leo McKenzie</td>
                    <td class="phone-number">+(998) 90 819-12-90</td>
                    <td class="number-guests">300</td>
                    <td class="select-menu">Gold (Customized)</td>
                    <td class="event-date">04/13/2024</td>
                    <td><div class="status_review">Review</div></td>
                    <td>03/21/2024 18:50</td>
                    <td>
                        <div class="dropdown_select">
                            <div class="dropdown_select_name action_btn"></div>
                            <div class="dropdown_body">
                                <div>
                                    <a href="edit-event.html" class="item edit_btn_event">Edit</a>
                                </div>
                                <div>
                                    <div class="item delete_btn">Delete</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="first-name">Leo McKenzie</td>
                    <td class="phone-number">+(998) 90 819-12-90</td>
                    <td class="number-guests">300</td>
                    <td class="select-menu">Gold (Customized)</td>
                    <td class="event-date">04/13/2024</td>
                    <td><div class="status_approved">Approved</div></td>
                    <td>03/21/2024 18:50</td>
                    <td>
                        <div class="dropdown_select">
                            <div class="dropdown_select_name action_btn"></div>
                            <div class="dropdown_body">
                                <div>
                                    <a href="edit-event.html" class="item edit_btn_event">Edit</a>
                                </div>
                                <div>
                                    <div class="item delete_btn">Delete</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="first-name">Leo McKenzie</td>
                    <td class="phone-number">+(998) 90 819-12-90</td>
                    <td class="number-guests">300</td>
                    <td class="select-menu">Gold (Customized)</td>
                    <td class="event-date">04/13/2024</td>
                    <td><div class="status_approved">Approved</div></td>
                    <td>03/21/2024 18:50</td>
                    <td>
                        <div class="dropdown_select">
                            <div class="dropdown_select_name action_btn"></div>
                            <div class="dropdown_body">
                                <div>
                                    <a href="edit-event.html" class="item edit_btn_event">Edit</a>
                                </div>
                                <div>
                                    <div class="item delete_btn">Delete</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="first-name">Leo McKenzie</td>
                    <td class="phone-number">+(998) 90 819-12-90</td>
                    <td class="number-guests">300</td>
                    <td class="select-menu">Gold (Customized)</td>
                    <td class="event-date">04/13/2024</td>
                    <td><div class="status_approved">Approved</div></td>
                    <td>03/21/2024 18:50</td>
                    <td>
                        <div class="dropdown_select">
                            <div class="dropdown_select_name action_btn"></div>
                            <div class="dropdown_body">
                                <div>
                                    <a href="edit-event.html" class="item edit_btn_event">Edit</a>
                                </div>
                                <div>
                                    <div class="item delete_btn">Delete</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-popup-wrapper event_popup">
    <div class="formExtraWrapper">
        <div class="close-form"></div>
        <div class="form_block">
            <div class="title">Create new event</div>
            <form action="">
                <div class="field_row column-3">
                    <div class="field">
                        <div class="field_name">Name</div>
                        <input type="text" name="first-name" placeholder="Enter customer name">
                    </div>
                    <div class="field">
                        <div class="field_name">Surname</div>
                        <input type="text" name="last-name" placeholder="Enter customer surname">
                    </div>
                    <div class="field">
                        <div class="field_name">Phone number</div>
                        <input type="text" name="phone-number" placeholder="+998">
                    </div>
                    <div class="field">
                        <div class="field_name">Event date</div>
                        <input type="text" name="event-date" placeholder="DD/MM/YYYY" value="">
                    </div>
                    <div class="field">
                        <div class="field_name">Number of guests</div>
                        <input type="text" name="number-guests" placeholder="Enter number of guests" value="">
                    </div>
                    <div class="field">
                        <div class="field_name">Select menu</div>
                        <select name="select-menu" id="">
                            <option value="">Select form the list</option>
                            <option value="Gold (Customized)">Gold (Customized)</option>
                            <option value="Silver">Silver</option>
                        </select>
                    </div>
                </div>
                <div class="form_btns">
                    <button class="btn_button border cancel">Discard</button>
                    <button type="submit" class="btn_button">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="alert-popup-wrapper deactivate_popup">
    <div class="alertExtraWrapper">
        <div class="alert_block">
            <div class="icon"></div>
            <div class="title">You are going to deactivate account <br>+(998) 90 819-12-90, are you sure?</div>
            <div class="btns">
                <button class="btn_button border cancel">No, cancel</button>
                <button type="submit" class="btn_button red">Yes, deactivate</button>
            </div>
        </div>
    </div>
</div>
<div class="alert-popup-wrapper delete_popup">
    <div class="alertExtraWrapper">
        <div class="alert_block">
            <div class="icon"></div>
            <div class="title">You are going to delete account <br>+(998) 90 819-12-90, are you sure?</div>
            <div class="btns">
                <button class="btn_button border cancel">No, cancel</button>
                <button type="submit" class="btn_button red">Yes, delete</button>
            </div>
        </div>
    </div>
</div>
<div class="notifications_alert_fixed">
    <div class="notifications_alert successfully opened">
        <div class="note">Data saved successfully</div>
        <div class="close"></div>
    </div>
    <div class="notifications_alert error opened">
        <div class="note">Something went wrong</div>
        <div class="close"></div>
    </div>
</div>
include _footer.jade