include _header-main.jade
	<div class="reg_block_tg">
		<div class="inner">
			<div class="logo">
				<img src="files/logo.png" alt="">
			</div>
			<a href="" class="btn_tg">
				<span class="icon"></span>
				<span class="text">Continue with Telegram</span>
			</a>
		</div>
	</div>									
include _footer.jade